
<div class="container">
    <h2 class="my-5">Reset Code :</h2>

    <form class="w-100 mx-auto" (ngSubmit)="handelforget(resCode)" [formGroup]="resCode">
        <p class="font-sm text-secondary fw-bold">We have sent your varifacation code to your mail address please enter your varifacation code below.</p>
        
            <P class="my-4 alert alert-danger mt-2" *ngIf="apimessage">{{apimessage}}</P>
            
       
        

        <label for="code" class="mt-2">Reset code:</label>
        <input type="text" id="code" class="form-control" formControlName="resetCode">
        <div class="alert alert-danger mt-2" *ngIf="resCode.get('resetCode')?.invalid && resCode.get('resetCode')?.touched">
            <P class="my-0" *ngIf="resCode.get('resetCode')?.getError('required')">resetcode is required</P>
        </div>

        
        <div class="d-flex align-items-center mt-4 justify-content-end">
            
            <button  class="btn btn-outline-info ">Send</button> 
        </div>

        


    </form>
</div>